a {
  text-decoration: none;
}

/* STACKOVERFLOW https://code.visualstudio.com/api/references/icons-in-labels */
:root {
  /* STACKOVERFLOW https://www.w3schools.com/css/css3_variables_javascript.asp */
  --blue: #1e90ff;
  --white: #ffffff;
  --bgOpacity: 0.89;
}

.v-sheet-pointer:hover {
  cursor: pointer !important;
}

.menu {
  opacity: 0.98;
}

.messagesBackground {
  position: relative;
}

.messagesBackground::before {
  /* STACKOVERFLOW https://coder-coder.com/background-image-opacity/ */
  content: "";
  background-image: url("img/telegram-backgroundZ.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: var(--bgOpacity);
}

.message-self {
  background-color: rgb(230, 248, 225) !important;
  position: relative;
}

.message-other {
  background-color: white !important;
  position: relative;
}

.message-self::before {
  /* STACKOVERFLOW https://stackoverflow.com/questions/59482476/how-can-i-create-a-triangle-pointer-in-vuetify-v-menu-component */
  /* STACKOVERFLOW https://css-tricks.com/snippets/css/css-triangle/ */
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  transform: translateY(0px) translateX(8px);
  width: 10px;
  height: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid rgb(230, 248, 225);
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
}

.message-other::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  transform: translateY(0px) translateX(-8px);
  width: 10px;
  height: 10px;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}

.service-msg {
  background-color: rgba(0, 0, 0, 0.23) !important;
  position: relative;
}

.appContainer {
  /* https://www.onlinepalette.com/telegram/    Hex: #30A3E6     RGB: (48 163 230)    HSL: (202 78% 55%)      */
  //background-color: rgba(48, 163, 230, 0.03);
  background-color: white;
}

.telegram-color {
  background-color: #30a3e6 !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(55, 55, 55, 0.4);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(55, 55, 55, 0.4);
  border-radius: 3px;
}
